
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.col-3 {
    padding: 0 15px 0 3px;
}

body {
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c89666;
    margin-bottom: 40px;
}

.forms {
    background-color: #12343b;
    border-radius: 8px;
}

input, .tarefa {
    height: 45px;
    margin-left: 0 !important;
    font-size: 16px;
    border-radius: 8px;
    border: 0.5px solid #e5fec5;
    padding-left: 10px;
    color: white;
    background-color: transparent;
}

input::placeholder{
    padding: 5px;
    font-size: 14px;
    color: #ffffffab;
}

input:focus {
    border-radius: 8px;
    border: 0.5px solid #e5fec5 !important; 
    overflow: hidden;
    color: white;
    outline: none;
}

.botaoAdicionarItem {
    height: 45px;
    width: 100%;
    margin-left: 10px;
    background-color: #14a827;
    color: white;
    border: 1px solid #14a827;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.botaoAdicionarItem:hover {
    background-color: transparent;
    border: 1px solid #14a827;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.lista {
    list-style: none;
    margin-top: 10px;
    padding-left: 0px !important;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5fec5;
    padding: 10px;
    border-radius: 0px 10px 10px 10px;
    border: 0.3px solid #000;
    display: flex;
    margin-top: 10px;
    padding-right: 10px;
    justify-content: space-between;
    line-height: auto;
}

.item .texto {
    max-width: 240px; 
    overflow-wrap: break-word; 
    word-break: break-word;
}

.concluido {
    text-decoration: line-through #098e21;
    -webkit-text-decoration-color: #098e21; 
    text-decoration-color: #098e21;
    text-decoration-thickness: 4px;
}

.item .botoesTask {
    padding-right: 5px;
    display: flex;
    gap: 5px;
    margin-left: 10px;
}

.item .excluirItem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background-color: #d41010e3;
    color: #fff;
    border: 0.2px solid #d41010e3;
    border-radius: 6px;
    font-size: 18px;
    padding-top: -66px;
    cursor: pointer;
}

.item .editarItem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background-color: #c89666;
    color: white;
    border: 0.2px solid #c89666;
    border-radius: 6px;
    cursor: pointer;
}

.item .concluirItem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background-color: #14a827;
    border: 0.2px solid #14a827;
    border-radius: 6px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.item .excluirItem:hover {
    background-color: transparent;
    color: black;
    border-radius: 6px;
    cursor: pointer;
}
.item .editarItem:hover {
    background-color: transparent;
    color: black;
    border-radius: 6px;
    cursor: pointer;
}
.item .concluirItem:hover {
    background-color: transparent;
    color: #000;
    border-radius: 6px;
    cursor: pointer;
}

h1 {
    font-size: 20px;
    color: #fff;
}

.link, h2 {
    font-size: 14px;
    text-decoration: none;
    color: #c89666;
    margin-bottom: 10px;
}


@media (max-width: 300px) {
    input{
       padding-bottom: 15px;
       padding-left: 0 !important;
       text-align: center;
    }
    input::placeholder {
    /* Definindo quebra de texto */
    font-size: 12px;
    white-space: normal;
    line-height: 1.2; /* Ajustando a altura da linha */
  }
}