
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.col-3 {
    padding: 0 15px 0 3px;
}

body {
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c89666;
}

.forms {
    background-color: #12343b;
    border-radius: 8px;
}

input, .tarefa {
    height: 45px;
    margin-left: 0 !important;
    font-size: 16px;
    border-radius: 8px;
    border: 0.5px solid #e5fec5;
    padding-left: 10px;
    color: white;
    background-color: transparent;
}

input::placeholder{
    padding: 5px;
    font-size: 14px;
    color: #ffffffab;
}

input:focus {
    border-radius: 8px;
    border: 0.5px solid #e5fec5 !important; 
    overflow: hidden;
    color: white;
    outline: none;
}

.botaoAdicionarItem {
    height: 45px;
    width: 100%;
    margin-left: 10px;
    background-color: #e5fec5;
    border: 1px solid #000;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

.botaoAdicionarItem:hover {
    background-color: #acbf92;
    border: 1px solid #000;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

.lista {
    list-style: none;
    margin-top: 10px;
    padding-left: 0px !important;
}

.item {
    background-color: #e5fec5;
    padding: 10px;
    border-radius: 0px 10px 10px 10px;
    border: 0.3px solid #000;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.item .botoesTask {
    padding-right: 5px;
    display: flex;
    gap: 5px;
}

.item .excluirItem, .editarItem, .concluirItem {
    height: 25px;
    width: 30px;
    background-color: #e5fec5;
    border: 0.2px solid #000;
    border-radius: 6px;
    cursor: pointer;
}

.item .excluirItem:hover, .editarItem:hover, .concluirItem:hover {
    background-color: #acbf92;
    border-radius: 6px;
    cursor: pointer;
}

h1 {
    font-size: 20px;
    color: #fff;
}

.link, h2 {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
}


@media (max-width: 300px) {
    input{
       padding-bottom: 15px;
       padding-left: 0 !important;
       text-align: center;
    }
    input::placeholder {
    /* Definindo quebra de texto */
    font-size: 12px;
    white-space: normal;
    line-height: 1.2; /* Ajustando a altura da linha */
  }
}